@model CRUD.Models.Pessoa
@{
}
<h1 class="text-danger">Excluir</h1>
<h3>Tem certeza que quer deletar esse cadastro?</h3>
<div>
<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            <th>@Html.DisplayNameFor(model => model.DDD_principal)</th>
            <th>@Html.DisplayNameFor(model => model.Tel_principal)</th>
            <th>@Html.DisplayNameFor(model => model.DDD_secundario)</th>
            <th>@Html.DisplayNameFor(model => model.Tel_secundario)</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Nome)</td>
                <td>@Html.DisplayFor(model => model.Cpf)</td>
                <td>@Html.DisplayFor(model => model.Endereco)</td>
                <td>@Html.DisplayFor(model => model.DDD_principal)</td>
                <td>@Html.DisplayFor(model => model.Tel_principal)</td>
                <td>@Html.DisplayFor(model => model.DDD_secundario)</td>
                <td>@Html.DisplayFor(model => model.Tel_secundario)</td>
            </tr>
    </tbody>
</table>
<br />
    <br />
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger btn-sm" />
        <a class="btn btn-outline-primary btn-sm" asp-action="Index">Voltar</a>
    </form>
</div>