@model IEnumerable<CRUD.Models.Pessoa>
@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Pessoas</h2>

<a class="btn btn-primary btn-sm" href="/Pessoas/Cadastrar">Cadastrar Pessoa</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
            </tr>
        }
    </tbody>
</table>