@model IEnumerable<CRUD.Models.Pessoa>
@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Pessoas</h2>

<a class="btn btn-primary btn-sm" href="/Pessoas/Cadastrar">Cadastrar Pessoa</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            <th>@Html.DisplayNameFor(model => model.DDD_principal)</th>
            <th>@Html.DisplayNameFor(model => model.Tel_principal)</th>
            <th>@Html.DisplayNameFor(model => model.DDD_secundario)</th>
            <th>@Html.DisplayNameFor(model => model.Tel_secundario)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                <td>@Html.DisplayFor(modelItem => item.DDD_principal)</td>
                <td>@Html.DisplayFor(modelItem => item.Tel_principal)</td>
                <td>@Html.DisplayFor(modelItem => item.DDD_secundario)</td>
                <td>@Html.DisplayFor(modelItem => item.Tel_secundario)</td>
                 <td >
                    <a style="margin: 5px;"  asp-action="Editar" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Editar</a>
                    <br />
                    <a style="margin: 5px;" asp-action="Detalhes" class="btn btn-info btn-sm" asp-route-id="@item.Id">Detalhes</a>
                    <br />
                    <a style="margin: 5px;" asp-action="Excluir" class="btn btn-danger btn-sm"  asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>